/* center Items with fade */
.col-centered {
  margin: auto;
  background-color: rgba(36, 35, 34, 0.5);
  z-index: 100;
  color: antiquewhite;
  text-align: center;
  justify-content: center;
  display: table-cell;
  vertical-align: middle;
}

.loginImage {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../assets/images/thecity.jpeg");

  height: 900px;
  z-index: 0;
}
.logo {
  background-image: url("../assets/images/logo.jpg");
  height: 30px;
}
/* Navigation Bar  */
.col1 {
  background-color: #353940;
  height: 60px;
}
.col2 {
  background-color: #353940;
}
.col3 {
  background-color: #353940;
  height: 60px;
  width: 60px;
  background-image: url("../assets/images/transparentLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
/* Dash */
.centerOpacityBase {
  background-color: rgba(47, 41, 73, 0.5);
  z-index: 100;
  color: antiquewhite;
  text-align: center;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 10%;
  /* filter: blur(4px); */
  z-index: 2q;
}

.blue {
  background-color: blue;
  height: 200px;
}

.red {
  background-color: red;
  height: 200px;
}

.yellow {
  background-color: bisque;
  height: 200px;
}

.userHome {
  /* background-color: #fafafa; */
  background-image: url("../assets/images/girlStandding.jpeg");
  background-size: cover;
  z-index: 1;
  position: relative;
}

/* Common */

.centerContent {
  justify-content: center;
  font-size: 1.2em;
}

#extrarow {
  height: 300px;
}

.network {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  background-image: url("../assets/icons/enterprise.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.redirectCard {
  justify-content: center;
  vertical-align: middle;
}

.userProfilePic {
  height: 70px;
  width: 70px;
  background-image: url("../assets/images/me.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.sighnUpImage {
  height: 100px;
  width: 100px;
  background-image: url("../assets/images/transparentLogo.png");
  background-size: contain;
}
.registerImage {
  height: 100px;
  width: 100px;
  background-image: url("../assets/icons/step.png");
  background-size: contain;
}
.myButton {
  background: url("../assets/images/togglebtn.PNG") no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 75px;
  height: 75px;
  border: none;
}
.loggedInFunc {
  display: none !important;
}
.side {
  z-index: 100;
  position: relative;
}
